<!DOCTYPE html>
<html lang="en">
  <head>
   <link rel="stylesheet" src="static_pages.css.scss">
    <meta charset="utf-8"> 
  </head>
  
	<h2>WELCOME TO TRIPVU</h2>
  <body>
	<div>
	<img class="img-responsive" src="http://i.imgur.com/z3l4DL1.png" alt="imgur.com">
		
	</div>
	

	
</body>
</html>



