<h1>Trip Show</h1>



<div ng-app= "dayPilotApp" ng-controller="DayPilotCtrl">
	<div class="col-md-4">
		<ul>
		<% @activities.businesses.each do |busi| %>
		
		<li><%= busi.name %></li>
		<% end %>
		</ul>
		<!-- <div class="col-md-4" id="test1" ng-repeat="business in @activities.businesses">{{business.name}}</div>
 -->
	</div>
	<div class="col-md-8">
		<daypilot-calendar id="week" daypilot-config="daysConfig"></daypilot-calendar>
	</div>
	{{foo}}
</div>
