<h1>Trip Show</h1>
<%=@bus%>

<div ng-app= "dayPilotApp" ng-controller="DayPilotCtrl" ng-init="init('<%=@bus%>')">
	<div class="col-md-4">
		<ul>
		<li ng-repeat="business in businesses track by $index"> {{business}}</li>
		</ul>
	</div>
	<div class="col-md-8">
		<daypilot-calendar id="week" daypilot-config="daysConfig"></daypilot-calendar>
	</div>
	{{foo}}
</div>
