.tile {
	background: beige;
	height: 220px;
	border: 5px solid black;
	display: inline-block;
}


.title {
	display: inline;
}
#yelplogo {
	padding: 0px 0px 10px 0px;
}

h2 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 100px;
    
}


#logo {

	margin-left: 19.4%;
	img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    }
  }