@import "bootstrap-sprockets";
@import "bootstrap";

.tile {
	background: beige;
	height: 220px;
	border: 5px solid black
}

#test2 {
	background: green;
	height: 140px
}
#test3 {
	background: blue;
	height: 140px
}
.title {
	display: inline
}
#yelplogo {
	padding: 0px 0px 10px 0px;
}